<div class="col-md-12">
    <div class="form-inline">
        <div class="form-group">
            <label for="">Enter Author Name :</label>
            <input type="text" name="author" id="" value=" " class="form-control form-control-lg" placeholder=""
                aria-describedby="author">
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-inline">
        <div class="form-group">
            <label for="">Enter Title :</label>
            <input type="text" name="title" id="" value=" " class="form-control form-control-lg" placeholder=""
                aria-describedby="author">
        </div>
    </div>
</div>
<div class="col-md-12 mt-3">
    <div class="form-inline">
        <div class="form-group">
            <label for="">Enter Small Description</label>
            <input type="text" name="intro" id="" value=" " class="form-control form-control-lg" placeholder=""
                aria-describedby="author">
        </div>
    </div>
</div>
<div class="col-md-12 mt-3">
    <div class="form-group">
        <label for="">Enter Description</label>
        <textarea class="form-control" name="desc" id="" rows="8"></textarea>
    </div>
</div>